body {
    background-image: url("media-wallpaper-5.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 80px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-shadow: 5px 5px 25px white, -5px -5px 25px white;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

input {
    backdrop-filter: blur(8px);
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    color: black;
    width: 35%;
    height: 105px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 20px white, -5px -5px 20px white;
}

button {
    position: absolute;
    top: 30%;
    left: 42%;
    backdrop-filter: blur(2px);
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    color: black;
    width: 15%;
    height: 75px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 20px white, -5px -5px 20px white;
}
button:hover {
    backdrop-filter: blur(1000px);
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}